.title,
.title2,
.subtitleText {
  text-align: center !important;
}

.title {
  text-transform: capitalize;
  font-size: 24px !important;
  line-height: 1.2;
}

.title2 {
  text-transform: capitalize;
  font-size: 18px !important;
  margin: 10px 0 0 0 !important;
}

.subtitleText {
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
  display: block;
  margin-top: 0;
}
