.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &:is(.title, .title2, h3, h4) {
    text-align: center !important;
    font-size: 30px;
  }
}

.aside {
  height: 100%;
}

.profileImage {
  margin: 0 auto;
  border-radius: 100px;
  box-shadow: -1px 1px 4px 2px rgba(255, 255, 255, 0.17);
  display: block;
  overflow: hidden;
  object-fit: cover;
}

.logoutBtn {
  display: flex;
  justify-content: center;
  margin-top: auto;
  &:hover button {
    color: darken(white, 0.5);
  }
}

.list {
  margin-top: 40px;
}

.item-antd {
  padding-top: 5px;
  padding-bottom: 5px;
}

.item-link {
  padding: 3px 10px !important;

  &.is-active {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    color: #242424 !important;
  }
}
