.container {
  background-color: #20232a !important;
  min-height: 100vh;
}

.sider {
  padding: 40px 20px;

  background-color: #141720 !important;
  @media (max-width: 700px) {
    padding: 20px 10px;
  }
}

.sider * {
  color: white !important;
}

.content {
  padding: 50px;
  padding-top: 100px;
  height: fit-content;

  @media (max-width: 700px) {
    padding: 10px;
  }
}
