.container {
  background-color: #20232a !important;
}

.sider {
  padding: 40px 20px;
  background-color: #141720 !important;
}

.sider * {
  color: white !important;
}

.content {
  padding: 50px;
  padding-top: 100px;
}
